<?xml version="1.0" encoding="UTF-8" ?>  
<Configuration>
  <Appenders>
    <RollingFile name="vertx_file" append="true" fileName="log/extractor.log" filePattern="log/extractor/$${date:yyyy-MM}/extractor-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout pattern="%d{ISO8601} %-5p %c:%L - %m%n" />
      <Policies>
        <OnStartupTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="30MB" />
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %-5p %c:%L - %m%n" />
    </Console>
  </Appenders>
    <Loggers>
      <Logger name="io.vertx.core" level="DEBUG">
        <AppenderRef ref="STDOUT"/>
        <AppenderRef ref="vertx_file" />
      </Logger>
      <Root level="DEBUG">
        <AppenderRef ref="STDOUT"/>
        <AppenderRef ref="vertx_file" />
      </Root>
    </Loggers>
</Configuration>  